@font-face {
    font-family: Avant;
    src: url("C:/Users/talah/Desktop/practice/avant.otf");
}

h1{text-align: left;
    font-family: 'Avant'; 
    
}
h2{text-align: center;
    font-family: 'Avant';}
p{
    font-family: 'Garamond';
    
}
body{
    background-image: url("../images/background.jpg"); 
    background-position: center center; 
    background-size: 100% 100%; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
